@charset "utf-8";

/* 섹션별 컨텐츠 스타일 */
.popup-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 760px;
  height: 600px;
  margin: -300px 0 0 -380px;
  z-index: 100;
}

.popup-wrap:before {
  content: '';
  position: absolute;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  left: -9999px;
  background: rgba(0, 0, 0, .4);
}

.register-popup {
  position: relative;
  z-index: 1;
  width: 760px;
  height: 600px;
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.popup-header {
  /* background: pink; */
  font-size: 2.4rem;
  width: 500px;
  /* position: relative; */
}

.popup-title,
.popup-subtitle,
.popup-create-time {
  margin: 5px 0 0 0;
  /* background: orange; */
}

.popup-subtitle {
  /* background: skyblue; */
  font-size: 1.5rem;
}

.popup-subtitle>a {
  text-decoration-line: underline;
}

.popup-create-time {
  /* background: lime; */
  font-size: 1.5rem;
  ;
}

/* .btn-close-popup {
  background: purple;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 2rem;
  /* float: left; */



.popup-main-content {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 2.4rem;
  /* background: yellow; */
  width: 500px;
}

.btn-save {
  margin: 10px 0 0 0;

}

.description-content {
  height: 120px;
  border-radius: 10px;
}

.area-title {
  position: relative;
  padding: 10px 0 10px 20px;

}

.area-title:after {
  content: "";
  background: url("../images/common/checklist.png") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 0;
  line-height: 2;
}

.checklist-area {
  width: 500px;
  margin: 20px 0 0 0;
  float: left;
  position: relative;
}

.checkbox {
  /* background: yellow; */
  margin: 20px 0 0 0;
}

.checkbox li {
  font-size: 1.5rem;
  margin: 20px;
  /* background: pink; */
}

.btn-delete {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 0 10px 0;
}

.btn-check-add {
  margin: 10px 0 0 0;
}

.progress-contents {
  /* background: red; */
  position: relative;
  margin: 5px;
}

.complete-percent {
  display: inline-block;
}

.progress-bar {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 0;
  background: gray;
  padding: 0 0 0 30px;
  height: 10px;
  width: 420px;
}
.success-bar {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background: blue;
  width: 400px;
  height: 10px;
  margin-right: 10px;
}
.popup-add-ons {
  /* background: lime; */
  font-size: 2.4rem;
  width: 200px;
  position: absolute;
  top: 20px;
  right: 0;
  margin: 20px 20px 0 0;
}

.members-info {
  /* background: red; */
  text-align: center;
  font-size: 2.4rem;
  height: 72px;
  line-height: 1.5;
}

.members-info>div {
  /* background: #c8cbd8; */
}

.members-list li {
  margin: 5px 0 0 0;
  display: inline-block;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  background: #f0f3ff;
  text-align: center;
}

.members-list li:hover {
  background: #93a2dd;
  ;
  cursor: pointer;
}

.labels {
  margin: 10px 0 0 0;
  /* background: yellow; */
  text-align: center;
}

.labels>.title {
  /* background: #cfd0d6; */
  padding: 10px 0 10px 20px;

}

.colors-list li {
  /* line-height: 1.5; */
  display: inline-block;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.colors-list li:hover {
  cursor: pointer;
}

.none {
  background: #eee;
}

.green {
  background: green;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.check {
  margin: 10px;
  /* background: green; */
}

.btn-checklist {
  /* background: pink; */
  padding: 10px 0;
  display: block;
  width: 100%;
  height: 100%;
}