@charset "utf-8";

/* common style */
html.fixed {position: fixed; left: 0; width: 100%; height: 100%;}

label.rdo {display: inline-block; position: relative; padding: 0 0 0 24px;}
label.rdo input {position: absolute; top: 5px; left: 0; width: 1px; height: 1px; opacity: 0; cursor: pointer;}
label.rdo span {display: block;}
label.rdo span:before {display: block; content: ''; position: absolute; top: 50%; left: 0; width: 16px; height: 16px; margin: -8px 0 0; background: url(../images/common/rdo.png) 0 0 no-repeat;}
label.rdo input:checked + span:before {background-position: 0 -16px;}
label.rdo input:focus + span:before {outline: 1px dotted #000000;}

label.chk {display: inline-block; position: relative; padding: 0 0 0 24px;}
label.chk input {position: absolute; top: 5px; left: 0; width: 1px; height: 1px; opacity: 0; cursor: pointer;}
label.chk span {display: block;}
label.chk span:before {display: block; content: ''; position: absolute; top: 50%; left: 0; width: 16px; height: 16px; margin: -8px 0 0; background: url(../images/common/chk.png) 0 0 no-repeat;}
label.chk input:checked + span:before {background-position: 0 -16px;}
label.chk input:focus + span:before {outline: 1px dotted #000000;}

.btn-box {overflow: hidden; width: 100%; text-align: center;}
.btn-box a {float: left; margin: 0 0 0 10px;}
.btn-box a:first-child {margin: 0;}
.btn-box input {float: left; margin: 0 0 0 10px;}
.btn-box input:first-child {margin: 0;}
.btn-box button {float: left; margin: 0 0 0 10px;}
.btn-box button:first-child {margin: 0;}

.btn40 {display: inline-block; box-sizing: border-box; height: 40px; border: none; border-radius: 0; font-weight: 700; font-size: 1.4rem; line-height: 38px; text-align: center; vertical-align: top; cursor: pointer; -webkit-appearance: none; appearance: none;}
.btn40.c1 {border: 1px solid #000000; background: #000000; color: #ffffff;} /* 검은바탕 흰색글씨 */
.btn40.c2 {border: 1px solid #333333; background: #333333; color: #ffffff;} /* 진한회색 흰색글씨 */

/* main layer popup */
.main_popup {position: relative; z-index: 1000; background: #ffffff;}
.main_popup .main_popup_body {position: relative;}
.main_popup .main_popup_body a {display: inline-block;}
.main_popup.sizeFixed .main_popup_body a {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.main_popup.sizeFixed .main_popup_body img {position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100% !important; height: 100% !important;}
.main_popup .main_popup_foot {overflow: hidden; padding: 5px 10px; background: #000000;}
.main_popup .main_popup_foot .chk {float: left;}
.main_popup .main_popup_foot .chk span {color: #ffffff;}
.main_popup .main_popup_foot .close {float: right; color: #ffffff;}

.layer-wrap {}
.layer-wrap .layer-back {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7);}
.layer-wrap .layer-outer {position: absolute; z-index: 1000; opacity: 0; transform: translateY(50px); transition: opacity 500ms;}
.layer-wrap .layer-outer .layer-inner {background: #ffffff;}
.layer-wrap .layer-outer .layer-inner .layer-head {position: relative; padding: 0 0 0 20px; background: #333333;}
.layer-wrap .layer-outer .layer-inner .layer-head .layer-title {font-weight: 700; font-size: 16px; line-height: 50px; color: #ffffff;}
.layer-wrap .layer-outer .layer-inner .layer-head .layer-close {display: block; position: absolute; top: 15px; right: 15px; width: 21px; height: 21px; background: url(../images/common/layer_close.png) 0 0 no-repeat; text-indent: -9999em;}
.layer-wrap .layer-outer .layer-inner .layer-body {overflow: hidden;}
.layer-wrap .layer-outer .layer-inner .layer-body .only-scroll-body {overflow-x: hidden; overflow-y: auto; margin: 0 -17px 0 0; padding: 0 17px 0 0;}

.layer-wrap.open .layer-outer {opacity: 1; transform: translateY(0);}

/* load motion */
.n-motion {opacity: 0; transition-property: all; transition-duration: 0.6s;}

.n-delay1 {transition-delay: 0.1s;}
.n-delay2 {transition-delay: 0.2s;}
.n-delay3 {transition-delay: 0.3s;}
.n-delay4 {transition-delay: 0.4s;}
.n-delay5 {transition-delay: 0.5s;}
.n-delay6 {transition-delay: 0.6s;}
.n-delay7 {transition-delay: 0.7s;}
.n-delay8 {transition-delay: 0.8s;}
.n-delay9 {transition-delay: 0.9s;}

.n-motion.n-left   {transform: translateX(-50px);}
.n-motion.n-right  {transform: translateX(50px);}
.n-motion.n-top    {transform: translateY(-50px);}
.n-motion.n-bottom {transform: translateY(50px);}
.n-motion.n-spin   {transform: rotate(180deg);}

.n-motion.n-active {opacity: 1;}

.n-motion.n-left.n-active   {transform: translateX(0);}
.n-motion.n-right.n-active  {transform: translateX(0);}
.n-motion.n-top.n-active    {transform: translateY(0);}
.n-motion.n-bottom.n-active {transform: translateY(0);}
.n-motion.n-spin.n-active   {transform: rotate(0deg);}

/* lazy load */
.lazy-hidden {opacity: 0;}
.lazy-loaded {transition: all 0.3s; opacity: 1;}
