@charset "utf-8";

/*
	100 : Thin
	200 : Extra Light (Ultra Light)
	300 : Light
	400 : Regular
	500 : Medium
	600 : Semi Bold (Demi Bold)
	700 : Bold
	800 : Extra Bold (Ultra Bold)
	900 : Black (Heavy)
*/

@font-face {
	font-family: Notosans;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSansKR-400.woff') format('woff');
}

@font-face {
	font-family: Notosans;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NotoSansKR-700.woff') format('woff');
}

@font-face {
	font-family: Cabin;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Cabin-700.woff') format('woff');
}

@font-face {
	font-family: NewsCycle;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NewsCycle-400.woff') format('woff');
}